omegaconf>=2.0.6
onnx>=1.7.0
pyyaml>=5.3.1
tensorboard
future
scipy>=1.6.0
torch>=2.2.0
torchvision
crypten
transformers>=4.41.0
datasets>=2.19.0
accelerate>=0.29.0
scikit-learn>=1.4.2
sentencepiece>=0.2.0
tqdm>=4.66.4
numpy>=1.26
pandas>=2.2
